{% extends '::base.html.twig' %}



{% block body %}

<h1>Country</h1>

<table class="table table-small">
    <tbody>
        <tr>
            <th>ISO code</th>
            <td>{{ entity.isocode }}</td>
        </tr>
        <tr>
            <th>PrestaShop code</th>
            <td>{{ entity.pscode }}</td>
        </tr>
        <tr>
            <th>Map code</th>
            <td>{{ entity.mapcode }}</td>
        </tr>
        <tr>
            <th>Name</th>
            <td>{{ entity.name }}</td>
        </tr>
    </tbody>
</table>

<form class="pull-left" action="{{ path('countries_delete', { 'id': entity.id }) }}" method="post">
    {{ form_widget(delete_form) }}
    <button class="btn btn-danger input-medium" type="submit">Delete</button>
</form>
<span class="pull-left">&nbsp;</span>
<form class="pull-left" action="{{ path('countries_edit', { 'id': entity.id }) }}" method="edit">
    <button class="btn btn-warning input-medium" type="submit">Edit</button>
</form>

<div class="clearfix"></div><br/>

<a href="{{ path('countries') }}">
    &lt;&lt; Back to the list
</a>

{% endblock %}
