{% extends '::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets '@FMSymSlateBundle/Resources/public/css/translate.css' %}
	    <link rel="stylesheet" href="{{ asset_url }}" />
	{% endstylesheets %}
{% endblock %}

{% block javascripts %}
		{{ parent() }}
		
		{% javascripts '@FMSymSlateBundle/Resources/public/js/translate.js' %}
		    <script src="{{ asset_url }}"></script>
		{% endjavascripts %}
		
		<script type="text/javascript" src="{{ asset('vendor/ckeditor/ckeditor.js') }}"></script>
		
		<script type="text/javascript">
			//this is here and not in translate.js because we need some twig helpers for URLs, so this is more convenient.
			
			$(document).ready(function(){
				$('#translate_filters_hide').click(function(){
					$('#translate_filters').toggle();
					$('#translate_fields').css('margin-left',0);
					$('#translate_filters_reveal').toggle();
					fixHeights();
					//fixHeights();
				});
			});

			get_translation = function(classification_id)
			{
				var txtid = 'translation_text_'+classification_id;
				if($('#'+txtid).hasClass('HTML'))
				{
					return CKEDITOR.instances[txtid].getData();
				}
				else
				{
					return $('#'+txtid).val();
				}
			}

			submit_translation = function(message_id, classification_id, translation_id, language_id)
			{
				var text = get_translation(classification_id);

				var img = $('#translation_submit_'+classification_id);

				img.attr('src','{{ asset('bundles/fmsymslate/images/working.png') }}');

				$('#submission_feedback_'+classification_id).hide();
				
				$.post('../submissions/create',{
						message_id: message_id,
						classification_id: classification_id,
						translation_id: translation_id,
						language_id: language_id,
						text: text
					},
					function(data){
						console.log(data);
						if(data.success)
						{
							img.attr('src','{{ asset('bundles/fmsymslate/images/happy.png') }}');
							//unOops();
							if(data.warning_message)
							{
								$('#notification_' + classification_id).html("<div class='warning'>"+data['warning_message']+"<span class='close-parent' onclick='javascript:$(this).parent().remove()'>X</span></div>")
							}
							else $('#notification_' + classification_id).html('');					
						}
						else
						{
							img.attr('src','{{ asset('bundles/fmsymslate/images/sad.png') }}');
							//oops(data['error_message']);
							$('#notification_' + classification_id).html("<div class='error'>"+data['error_message']+"<span class='close-parent' onclick='javascript:$(this).parent().remove()'>X</span></div>")
						}
					},
					'json');
			}

			var last_editor = undefined;
			CKEDITOR.on('currentInstance',function(e){
				var editor = CKEDITOR.currentInstance;
				if(last_editor && editor != last_editor)
				{
					var tmp = last_editor.name.split("_");
					var id  = tmp[tmp.length - 1];
					lostFocus(id);
					$('#' + last_editor.id + '_top').hide();
				}
				if(editor && editor != last_editor){
					var tmp = editor.name.split("_");
					var id  = tmp[tmp.length - 1];
					gotFocus(id);
					$('#' + editor.id + '_top').show();
				}
				last_editor = editor;
			});

			$('textarea.translate').focus(function(e){
				var tmp = $(e.target).attr('id').split("_");
				var id  = tmp[tmp.length - 1];
				gotFocus(id);
			}).focusout(function(e){
				var tmp = $(e.target).attr('id').split("_");
				var id  = tmp[tmp.length - 1];
				lostFocus(id);	
			});

			function gotFocus(id)
			{
				$('.controls_active').removeClass('controls_active').css('display','none');
				console.log("I got the focus! " + id);
				$('#controls_'+id).css('display','table').addClass('controls_active');
			}
			function lostFocus(id)
			{
				console.log("I lost the focus! " + id);
				var text = get_translation(id);
				if(text.length > 0)
				{
					$('#translation_submit_'+id).click();
				}
			}
						
		</script>
		
{% endblock %}
{% block body %}
	
	

    <div id="translate_container">

		<div id="translate_filters_reveal">
			<a href="javascript:$('#translate_filters').toggle();$('#translate_fields').css('margin-left',385);$('#translate_filters_reveal').toggle();">Restore navigation panel!</a>
		</div>
		
		{% set search_tip %}
			<div class="tip smalltip">
				<span class='close-parent' onclick='javascript:$(this).parent().remove()'>X</span>
				Tip: type in "%product%" to look for anything containing "product"
				<BR/>
				Search is case sensitive.
			</div>
		{% endset %}

		<div id="translate_filters">
			<div id="translate_filters_hide">X</div>
			<div class="translate_filters_contents">
				<form class="form-inline translate">
				  		
						<input type="hidden" name="page" id="page" value="{{ app.request.query.get('page') | default(1) }}"/>

				  		<fieldset class="bordered">
				  			<legend>Language</legend>
				  			<label for="translate_source_language_code" class="input-label medium">From</label>
					  		<select class="autosubmit" id="translate_source_language_code" name="source_language_code">
								{% for language in languages %}
									<option value="{{ language.code }}" {{ app.request.query.get('source_language_code','en')==language.code ? "selected='true'" : '' }}>{{ language }}</option>
								{% endfor %}
							</select>
							<br/>
							<label for="translate_language_code" class="input-label medium">Into</label>
							<select class="autosubmit" id="translate_language_code" name="language_code">
								{% for language in languages %}
									<option value="{{ language.code }}" {{ app.request.query.get('language_code')==language.code ? "selected='true'" : '' }}>{{ language }}</option>
								{% endfor %}
							</select>
						</fieldset>

						<fieldset class="bordered">
							<legend>Message</legend>
							<label for = "message_like" class="input-label medium">Filter</label>
							<input id="message_like" name="message_like" type='text' value='{{ app.request.query.get('message_like')}}' placeholder="Filter messages..."/>
							<br/>
							{{ search_tip }}
							<label for="translate_category" class="input-label medium">Category</label>
							<select style="" class="autosubmit" id="translate_category" name="category">
								<option value="">Any Category</option>
								{% for category in categories %}
									<option value="{{ category["category"] }}" {{ app.request.query.get('category')==category['category'] ? "selected='true'" : '' }}>
										{{ category["category"] }}
									</option>
								{% endfor %}
							</select>
							<br/>
							<label for="translate_section" class="input-label medium">Section</label>
							<select style="" class="autosubmit" id="translate_section" name="section">
								<option value="">Any Section</option>
								{% for section in sections %}
									<option value="{{ section }}" {{ app.request.query.get('section')==section ? "selected='true'" : '' }}>
										{{ section }}
									</option>
								{% endfor %}
							</select>
							<br/>
							<label for="translate_context" class="input-label medium">Context</label>
							<select class="autosubmit" id="translate_context" name="context">
								<option value="YES" {{ app.request.query.get('context','YES') == 'YES' ? 'selected' : '' }}>Yes</option>
								<option value="NO"  {{ app.request.query.get('context','YES') == 'NO'  ? 'selected' : '' }}>No</option>
							</select>
							<br/>
							<label for="translate_not_in" class="input-label medium">Not in</label>
							<select style="" class="autosubmit" id="translate_not_in" name="not_in">
								<option value=""></option>
								{% for apack in packs %}
									{% if apack.id != pack.id %}
										<option value="{{ apack.id }}" {{ app.request.query.get('not_in')==apack.id ? "selected='true'" : '' }}>
											{{ apack.name }} ({{ apack.version }})
										</option>
									{% endif %}
								{% endfor %}
							</select>
						</fieldset>

						<fieldset class="bordered">
							<legend>Translation</legend>
							<label for="translation_like" class="input-label medium">Filter</label>
							<input type='text' id="translation_like" name="translation_like" value='{{ app.request.query.get('translation_like')}}' placeholder="Filter translations..."/>
							<br/>
							{{ search_tip }}
							<label for="translate_empty" class="input-label medium">Status</label>
							<select  class="autosubmit" id="translate_empty" name="empty">
								<option value="ONLY" {{ app.request.query.get('empty')== "ONLY" ? "selected='true'" : '' }}>missing</option>
								<option value="EXCEPT" {{ app.request.query.get('empty')== "EXCEPT" ? "selected='true'" : '' }}>there</option>
								<option value="MAYBE" {{ app.request.query.get('empty')== "MAYBE" ? "selected='true'" : '' }}>there or not</option>
							</select>
							<br/>
							<label for="translate_author" class="input-label medium">Author</label>
							<select  class="autosubmit" id="translate_author" name="translate_author">
								<option value="*" {{ app.request.query.get('translate_author','*') == "*"  ? "selected" : "" }}>Anyone</option>
								{% for author in authors %}
									<option value="{{ author.getId() }}" {{ app.request.query.get('translate_author','*') ==  author.getId() ? "selected" : "" }}>{{ author.getUsername() }}</option>
								{% endfor %}
							</select>
							<label for="translate_validation" class="input-label medium">Validation</label>
							<select class="autosubmit" id="translate_validation" name="translate_validation">
								<option value="*" {{ app.request.query.get('translate_validation','*') == "*"  ? "selected" : "" }}>OK or not</option>
								<option value="has_error" {{ app.request.query.get('translate_validation','*') == "has_error"  ? "selected" : "" }}>Has error</option>
								<option value="has_warning" {{ app.request.query.get('translate_validation','*') == "has_warning"  ? "selected" : "" }}>Has warning</option>
								<option value="is_clean" {{ app.request.query.get('translate_validation','*') == "is_clean"  ? "selected" : "" }}>Is clean</option>
							</select>
							{% if app.request.query.get('language_code') == 'en' %}
								<label for="translate_tdfs" class="input-label medium">TDFS</label>
								<input type="checkbox" id="translate_tdfs" name="tdfs" value=1 {% if app.request.query.get('tdfs',0) == 1 %} checked {% endif %}>&nbsp;translation is != from source</input>
							{% endif %}
						</fieldset>

						<div style="padding-left:5px;">
						<button type="submit" id="submit_translation_filter" class="btn btn-primary medium">Go!</button>
						</div>

				</form>

				{% if pagination is not empty %}
					<div class='pagination'>
						<ul>
							{% for page, text in pagination %}<li><a href="javascript:goto_page({{ page }})">{{ text }}</a></li>{% endfor %}
						</ul>
					</div>
				{% endif %}

			</div>
		</div>
		
		<div id="translate_fields">
			{% if pack == null %}
				<p><span class="error">The pack you are trying to translate does not exist!</span></p>	
			{% endif %}
			
			{% if language == null %}
				<p><span class="error">The language you are trying to translate into does not exist!</span></p>	
			{% endif %}
			
			{% if language and pack %}
				{% if messages == null %}
					<p><span class="info">There are no messages to translate here!</span></p>
				{% else %}
					{% for category, s_ss in messages %}
						<fieldset class="translate_category">
							<legend class="toggleable clickable">{{ category }}</legend>
							<div class="toggleable">
							{% for section, ss_m in s_ss %}	
								{% if section is not empty %}
									<fieldset class="translate_section">
										<legend class="toggleable clickable">{{ section }}</legend>
										<div class="toggleable">
								{% endif %}				
									{% for subsection, ms in ss_m %}

											{%  for m in ms %}

												<div class="{{ m['is_context'] ? 'context ' : '' }}translate_row {{ cycle(['odd', 'even'], loop.index) }}">


													<div class="translate_row_right">
														<img 
															 class="clickable small submit_translation" 
															 onclick="javascript:submit_translation({{ m['message_id'] }}, 
															 									 	{{ m['classification_id'] }},
															 									 	{{ m['translation_id'] | default('undefined') }},
															 									 	{{ language.getId() }})" 
															 src="{{ asset('bundles/fmsymslate/images/submit.png') }}"
															 alt="Submit!" 
															 id="translation_submit_{{ m['classification_id'] }}"
														 />
													</div>

													<div class="translate_row_left">
														<div class="translate_row_message pull-left " id="translation_message_{{ m['classification_id'] }}">
															
															{% if m['type'] == "HTML" %}
																<iframe id="iframe_{{ m['classification_id'] }}" class="message_contents_{{ m['classification_id'] }} translate" srcdoc="{{ m['text'] }}" ckeditor="translation_text_{{ m['classification_id'] }}"></iframe>
															{% elseif m['type'] == "TXT" %}
																<pre class="message_contents_{{ m['classification_id'] }} translate">{{ m['text'] }}</pre>
															{% else %}
																<span class="message_contents_{{ m['classification_id'] }}">
																	{{ m['text'] | dbkslsh }}
																</span>
															{% endif %}
														
														
														</div>
														<div class="translate_row_translation pull-right">
															
															<textarea {% if m['type'] == "HTML" %} ckadjust="iframe_{{ m['classification_id'] }}" {% else %} same_height="message_contents_{{ m['classification_id'] }}"  {% endif %} id="translation_text_{{ m['classification_id'] }}" class="translate {{ m['type'] }}">{{ m['translation'] }}</textarea>
															
															
														</div>
													</div>
												</div>
												<div class="clearfix"></div>		
												<div class="translation_notification" id="notification_{{ m['classification_id'] }}">
													{% if m['error_message'] != '' %}
														<div class='error'>{{ m['error_message'] }}<span class='close-parent' onclick='javascript:$(this).parent().remove()'>X</span></div>
													{% endif %}
													{% if m['warning_message'] != '' %}
														<div class='warning'>{{ m['warning_message'] }}<span class='close-parent' onclick='javascript:$(this).parent().remove()'>X</span></div>
													{% endif %}
												</div>

											{%  endfor %}
										
									{% endfor %}
								{% if section is not empty %}
									</div>
									</fieldset>
								{% endif %}
							{% endfor %}
						</div>
						</fieldset>
					{% endfor %}

					{% if pagination is not empty %}
						<div class='pagination'>
							<ul>
								{% for page, text in pagination %}<li><a href="javascript:goto_page({{ page }})">{{ text }}</a></li>{% endfor %}
							</ul>
						</div>
					{% endif %}
			{% endif %}	
		{% endif %}
		</div>
	</div>

{% endblock %}
