{% extends '::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets '@FMSymSlateBundle/Resources/public/css/translate.css' %}
	    <link rel="stylesheet" href="{{ asset_url }}" />
	{% endstylesheets %}
	<style type="text/css">
		div.suggestions
		{
			padding: 15px;
		}
		div.message, div.translation
		{
			padding:5px;
		}
		div.message
		{
			background-color: #EEE;
		}
		div.translation
		{
			margin-bottom: 5px;
		}
	</style>
{% endblock %}

{% block javascripts %}
		{{ parent() }}
		
		{% javascripts '@FMSymSlateBundle/Resources/public/js/translate.js' %}
		    <script src="{{ asset_url }}"></script>
		{% endjavascripts %}
		
		<script type="text/javascript" src="{{ asset('vendor/ckeditor/ckeditor.js') }}"></script>
		
		<script type="text/javascript">
			//this is here and not in translate.js because we need some twig helpers for URLs, so this is more convenient.
			
			function addComment(classification_id, message_id)
			{
				if($('#comment_'+message_id).length === 1)
				{
					$('#comment_'+message_id).show();
					return;	
				}

				var html = "";

				html += "<div class='explain' data-message-id='"+message_id+"' id='comment_"+message_id+"'>";
				html += "<table style='width:100%'><tr><td style='width:50px'><img src='{{ asset('bundles/fmsymslate/images/info2.png') }}'/></td>";
				html += "<td><textarea/></td></tr></table>";
				html += "<div class='right'>";
				html += "<a onclick='javascript:$(this).closest(\"div.explain\").hide()'>hide comment</a>"
				html += "&nbsp;/&nbsp;<a onclick='saveComment($(this).closest(\"div.explain\"))'>save comment</a>"
				html += "</div>";
				html += "</div>";

				$('div#notification_'+classification_id).append(html);
			};

			function saveComment(element)
			{
				var message_id = element.attr('data-message-id');
				var comment = element.find('textarea').val();
				$.post("{{ url('message_comment')}}", {message_id: message_id, comment: comment}, function(res){
					console.log(res);
				});
			};

			function confirmOnClick(element)
			{
				var e = $(element);
				if(e.hasClass('btn-warning'))
				{
					e.removeClass("btn-warning").addClass("btn-danger");
					e.attr('data-old-html', e.html()); 
					e.html("Sure? &nbsp;<a onclick='yesImSure(this);'>yes</a>");
				}
				else
				{
					e.removeClass("btn-danger").addClass("btn-warning");
					e.html(e.attr('data-old-html'));
				}	
			};

			function yesImSure(element)
			{
				var e = $(element).closest('button');
				e.removeClass("btn-danger").addClass("btn-primary").html("Do it!");

				e.attr('onclick',e.attr('data-confirm-onclick'));

				window.event.stopPropagation();
				return false;
			};

			$(document).ready(function(){
				$('#translate_filters_hide').click(function(){
					$('#translate_filters').toggle();
					$('#translate_fields').css('margin-left',0);
					$('#translate_filters_reveal').toggle();
					fixHeights();
				});
			});

			get_translation = function(classification_id)
			{
				var txtid = 'translation_text_'+classification_id;
				if($('#'+txtid).hasClass('HTML'))
				{
					return CKEDITOR.instances[txtid].getData();
				}
				else
				{
					return $('#'+txtid).val();
				}
			}

			var submit_cuz_focus_out = false;

			submit_translation = function(classification_id, language_id)
			{
				var text = get_translation(classification_id);

				if(submit_cuz_focus_out)
				{
					var original_text = $('#translation_text_'+classification_id).attr('data-original-value');
					if(original_text == text)
					{
						return;
					}
				}

				var img = $('#translation_submit_'+classification_id);

				img.attr('src','{{ asset('bundles/fmsymslate/images/working.png') }}');

				$('#submission_feedback_'+classification_id).hide();
				
				$.post('../submissions/create',{
						classification_id: classification_id,
						language_id: language_id,
						text: text,
						reason: submit_cuz_focus_out ? 'autosubmit' : 'manual'
					},
					function(data){
						if(data.success)
						{
							img.attr('src','{{ asset('bundles/fmsymslate/images/happy.png') }}');
							if(data.warning_message)
							{
								$('#notification_' + classification_id).html("<div class='warning'>"+data['warning_message']+"<span class='close-parent' onclick='javascript:$(this).parent().remove()'>X</span></div>")
							}
							else $('#notification_' + classification_id).html('');					
						}
						else
						{
							img.attr('src','{{ asset('bundles/fmsymslate/images/sad.png') }}');
							$('#notification_' + classification_id).html("<div class='error'>"+data['error_message']+"<span class='close-parent' onclick='javascript:$(this).parent().remove()'>X</span></div>")
						}
					},
					'json');
			}

			var last_editor = undefined;
			CKEDITOR.on('currentInstance',function(e){
				var editor = CKEDITOR.currentInstance;
				if(last_editor && editor != last_editor)
				{
					var tmp = last_editor.name.split("_");
					var id  = tmp[tmp.length - 1];
					lostFocus(id);
					$('#' + last_editor.id + '_top').hide();
				}
				if(editor && editor != last_editor){
					var tmp = editor.name.split("_");
					var id  = tmp[tmp.length - 1];
					gotFocus(id);
					$('#' + editor.id + '_top').show();
				}
				last_editor = editor;
			});

			$('textarea.translate').focus(function(e){
				var tmp = $(e.target).attr('id').split("_");
				var id  = tmp[tmp.length - 1];
				gotFocus(id);
			}).focusout(function(e){
				var tmp = $(e.target).attr('id').split("_");
				var id  = tmp[tmp.length - 1];
				lostFocus(id);	
			});


			function copyTranslations(button, oldMessage, newMessage)
			{
				$(button).html("k, wait");
				$.post('{{url("complete_with")}}', {oldMessage: oldMessage, newMessage: newMessage}, function(res){
					$(button).html(res.n);
					$(button).addClass("btn-success");
				});
			}

			function gotFocus(id)
			{
				$('.controls_active').removeClass('controls_active').css('display','none');
				$('#controls_'+id).css('display','table').addClass('controls_active');

				var source_language_code = '{{app.request.query.get('source_language_code','en')}}';

				if(source_language_code == 'en' && $('#translation_text_'+id).attr('data-original-value') == '' && $('#translation_text_'+id).hasClass('STRING'))
				{
					if(($('#translation_text_'+id).attr('data-suggestions-loaded')!='1'))
					{
						$('#translation_text_'+id).attr('data-suggestions-loaded', '1');

						var message = $('span.message_contents_'+id).text();
						var language_code = '{{app.request.query.get('language_code')}}';

						$.getJSON("{{url('translate_suggestions')}}", {source_language_code: source_language_code, language_code: language_code, message: message}, function(data){
							var html = "";

							var found = false;
							for(var i in data)
							{
								{% if is_granted('ROLE_SUPER_ADMIN') %}
									var button = "<button onclick='confirmOnClick(this)' data-confirm-onclick='copyTranslations(this, "+JSON.stringify(data[i].message)+","+JSON.stringify(message.trim())+")' class='btn btn-warning'>use</button>&nbsp;";
								{% else %}
									var button = "";
								{% endif %}

								found = true;
								html+="<div class='row'><div class='message span6'>"+button+data[i].message+"</div>"+"<div contenteditable class='translation span6'>"+data[i].translation+"</div></div>"
							}

							if(!found)
							{
								html = "<span class='no-suggestion'>No suggestion found, sorry!</span>";
							}

							$('div#suggestions_'+id).html(html);
						});

					}
					$('div.suggestions').hide();
					$('#suggestions_'+id).show();
				}				

			}
			function lostFocus(id)
			{
				var text = get_translation(id);
				if(text.length > 0)
				{
					submit_cuz_focus_out = true;
					$('#translation_submit_'+id).click();
					submit_cuz_focus_out = false;
				}
			}
						
		</script>
		
{% endblock %}
{% block body %}
	
	

    <div id="translate_container">

		<div id="translate_filters_reveal">
			<a href="javascript:$('#translate_filters').toggle();$('#translate_fields').css('margin-left',385);$('#translate_filters_reveal').toggle();">Restore navigation panel!</a>
		</div>
		
		{% set search_tip %}
			<div class="tip smalltip">
				<span class='close-parent' onclick='javascript:$(this).parent().remove()'>X</span>
				Tip: type in "%product%" to look for anything containing "product"
				<BR/>
				Search is case sensitive.
			</div>
		{% endset %}

		<div id="translate_filters">
			<div id="translate_filters_hide">X</div>
				<form class="form-inline translate">
						<input type="hidden" name="page" id="page" value="{{ app.request.query.get('page') | default(1) }}"/>

				  		<fieldset class="bordered">
				  			<legend>Language</legend>
				  			<label for="translate_source_language_code" class="input-label smallish">From</label>
					  		<select style="" class="autosubmit" id="translate_source_language_code" name="source_language_code">
								{% for language in languages %}
									<option value="{{ language.code }}" {{ app.request.query.get('source_language_code','en')==language.code ? "selected='true'" : '' }}>{{ language }}</option>
								{% endfor %}
							</select>
							<br/>
							<label for="translate_language_code" class="input-label smallish">Into</label>
							<select class="autosubmit" id="translate_language_code" name="language_code">
								{% for language in languages %}
									<option value="{{ language.code }}" {{ app.request.query.get('language_code')==language.code ? "selected='true'" : '' }}>{{ language }}</option>
								{% endfor %}
							</select>
						</fieldset>

						<fieldset class="bordered">
							<legend>Message</legend>
							<label for = "message_like" class="input-label smallish">Filter</label>
							<input id="message_like" name="message_like" type='text' value='{{ app.request.query.get('message_like')}}' placeholder="Filter messages..."/>
							<br/>
							{{ search_tip }}
							<label for="translate_category" class="input-label smallish">Category</label>
							<select style="" class="autosubmit" id="translate_category" name="category">
								<option value="">Any Category</option>
								{% for category in categories %}
									<option value="{{ category["category"] }}" {{ app.request.query.get('category')==category['category'] ? "selected='true'" : '' }}>
										{{ category["category"] }}
									</option>
								{% endfor %}
							</select>
							<br/>
							<label for="translate_section" class="input-label smallish">Section</label>
							<select style="" class="autosubmit" id="translate_section" name="section">
								<option value="">Any Section</option>
								{% for section in sections %}
									<option value="{{ section }}" {{ app.request.query.get('section')==section ? "selected='true'" : '' }}>
										{{ section }}
									</option>
								{% endfor %}
							</select>
							<br/>
							<label for="translate_context" class="input-label smallish">Context</label>
							<select class="autosubmit" id="translate_context" name="context">
								<option value="YES" {{ app.request.query.get('context','YES') == 'YES' ? 'selected' : '' }}>Yes</option>
								<option value="NO"  {{ app.request.query.get('context','YES') == 'NO'  ? 'selected' : '' }}>No</option>
							</select>
							<br/>
							<label for="translate_not_in" class="input-label smallish">Not in</label>
							<select style="" class="autosubmit" id="translate_not_in" name="not_in">
								<option value=""></option>
								{% for apack in packs %}
									{% if apack.id != pack.id %}
										<option value="{{ apack.id }}" {{ app.request.query.get('not_in')==apack.id ? "selected='true'" : '' }}>
											{{ apack.name }} ({{ apack.version }})
										</option>
									{% endif %}
								{% endfor %}
							</select>
						</fieldset>

						<fieldset class="bordered">
							<legend>Translation</legend>
							<label for="translation_like" class="input-label smallish">Filter</label>
							<input type='text' id="translation_like" name="translation_like" value='{{ app.request.query.get('translation_like')}}' placeholder="Filter translations..."/>
							<br/>
							{{ search_tip }}
							<label for="translate_empty" class="input-label smallish">Status</label>
							<select  class="autosubmit" id="translate_empty" name="empty">
								<option value="ONLY" {{ app.request.query.get('empty')== "ONLY" ? "selected='true'" : '' }}>missing</option>
								<option value="EXCEPT" {{ app.request.query.get('empty')== "EXCEPT" ? "selected='true'" : '' }}>there</option>
								<option value="MAYBE" {{ app.request.query.get('empty')== "MAYBE" ? "selected='true'" : '' }}>there or not</option>
							</select>
							<br/>
							<label for="translate_author" class="input-label smallish">Author</label>
							<select  class="autosubmit" id="translate_author" name="translate_author">
								<option value="*" {{ app.request.query.get('translate_author','*') == "*"  ? "selected" : "" }}>Anyone</option>
								{% for author in authors %}
									<option value="{{ author.getId() }}" {{ app.request.query.get('translate_author','*') ==  author.getId() ? "selected" : "" }}>{{ author.getUsername() }}</option>
								{% endfor %}
							</select>
							<label for="translate_validation" class="input-label smallish">Validation</label>
							<select class="autosubmit" id="translate_validation" name="translate_validation">
								<option value="*" {{ app.request.query.get('translate_validation','*') == "*"  ? "selected" : "" }}>OK or not</option>
								<option value="has_error" {{ app.request.query.get('translate_validation','*') == "has_error"  ? "selected" : "" }}>Has error</option>
								<option value="has_warning" {{ app.request.query.get('translate_validation','*') == "has_warning"  ? "selected" : "" }}>Has warning</option>
								<option value="is_clean" {{ app.request.query.get('translate_validation','*') == "is_clean"  ? "selected" : "" }}>Is clean</option>
							</select>
						</fieldset>

						<div style="padding-left:5px;">
						<button type="submit" id="submit_translation_filter" class="btn btn-primary medium">Go!</button>
						</div>

				</form>

				{% if pagination is not empty %}
					<div class='pagination'>
						<ul>
							{% for page, text in pagination %}<li><a href="javascript:goto_page({{ page }})">{{ text }}</a></li>{% endfor %}
						</ul>
					</div>
				{% endif %}

		</div>
		
		<div id="translate_fields">
			{% if pack == null %}
				<p><span class="error">The pack you are trying to translate does not exist!</span></p>	
			{% endif %}
			
			{% if language == null %}
				<p><span class="error">The language you are trying to translate into does not exist!</span></p>	
			{% endif %}
			
			{% if language and pack %}
				{% if messages == null %}
					<p><span class="info">There are no messages to translate here!</span></p>
				{% else %}
					{% for category, s_ss in messages %}
						<fieldset class="translate_category">
							<legend class="toggleable clickable"><span class="legend">{{ category }}</span></legend>
							<div class="toggleable">
							{% for section, ss_m in s_ss %}	
								{% if section is not empty %}
									<fieldset class="translate_section">
										<legend class="toggleable clickable"><span class="legend">{{ section }}</span></legend>
										<div class="toggleable">
								{% endif %}				
									{% for subsection, ms in ss_m %}

											{%  for m in ms %}

												<div class="{{ m['is_context'] ? 'context ' : '' }}translate_row {{ cycle(['odd', 'even'], loop.index) }}">


													<div class="translate_row_right">
														<img 
															 class="clickable small submit_translation" 
															 onclick="javascript:submit_translation({{ m['classification_id'] }},
															 									 	{{ language.getId() }})"
															 src="{{ asset('bundles/fmsymslate/images/submit.png') }}"
															 alt="Submit!" 
															 id="translation_submit_{{ m['classification_id'] }}"
														 />
														<a href="{{ url('translate_details', {message_id: m['message_id'], language_code: app.request.query.get('language_code')}) }}">
															 <img 
																 class="tiny more_info inline" 
																 onclick="" 
																 src="{{ asset('bundles/fmsymslate/images/more_info.png') }}"
																 alt="More info..."
															 />
														 </a>
														 <img 
															 class="clickable tiny inline" 
															 src="{{ asset('bundles/fmsymslate/images/pen.png') }}"
															 onclick="addComment({{m['classification_id']}}, {{m['message_id']}})"
														  />
													</div>

													<div class="translate_row_left">
														<div class="translate_row_message pull-left " id="translation_message_{{ m['classification_id'] }}">
															
															{% if m['type'] == "HTML" %}
																<iframe id="iframe_{{ m['classification_id'] }}" class="message_contents_{{ m['classification_id'] }} translate" srcdoc="{{ m['text'] }}" ckeditor="translation_text_{{ m['classification_id'] }}"></iframe>
															{% elseif m['type'] == "TXT" %}
																<pre class="message_contents_{{ m['classification_id'] }} translate">{{ m['text'] }}</pre>
															{% else %}
																<span class="message_contents_{{ m['classification_id'] }}">
																	{{ m['text'] | dbkslsh }}
																</span>
															{% endif %}
															
															
															
														</div>
														<div class="translate_row_translation pull-right">
															
															<textarea data-original-value="{{ m['translation'] }}" {% if m['type'] == "HTML" %} ckadjust="iframe_{{ m['classification_id'] }}" {% else %} same_height="message_contents_{{ m['classification_id'] }}"  {% endif %} id="translation_text_{{ m['classification_id'] }}" class="translate {{ m['type'] }}">{% if m['type'] == "HTML" %}{{ m['translation'] == '' ? m['text'] : m['translation'] }}{% else %}{{ m['translation'] }}{% endif %}</textarea>
															
															
														</div>
													</div>
												</div>
												<div class="clearfix"></div>		
												<div class="translation_notification" id="notification_{{ m['classification_id'] }}">
													{% if m['error_message'] != '' %}
														<div class='error'>{{ m['error_message'] }}<span class='close-parent' onclick='javascript:$(this).parent().remove()'>X</span></div>
													{% endif %}
													{% if m['warning_message'] != '' %}
														<div class='warning'>{{ m['warning_message'] }}<span class='close-parent' onclick='javascript:$(this).parent().remove()'>X</span></div>
													{% endif %}
													{% if m['comment'] %}
														<div class="explain" data-message-id="{{m['message_id']}}" id="comment_{{m['message_id']}}"><table style="width:100%"><tbody><tr><td style="width:50px"><img src="/bundles/fmsymslate/images/info2.png"></td><td><textarea style="margin-top: 0px; margin-bottom: 0px; height: 48px;">{{m['comment'].text}}</textarea></td></tr></tbody></table><div class="right"><a onclick="javascript:$(this).closest(&quot;div.explain&quot;).hide()">hide comment</a>&nbsp;/&nbsp;<a onclick="saveComment($(this).closest(&quot;div.explain&quot;))">save comment</a></div></div>
													{% endif %}
												</div>

												<div style="display:none" class="suggestions" id="suggestions_{{ m['classification_id'] }}">
													<span class='loading-suggestions'>Loading suggestions...</span>
												</div>

											{%  endfor %}
										
									{% endfor %}
								{% if section is not empty %}
									</div>
									</fieldset>
								{% endif %}
							{% endfor %}
						</div>
						</fieldset>
					{% endfor %}

					{% if pagination is not empty %}
						<div class='pagination'>
							<ul>
								{% for page, text in pagination %}<li><a href="javascript:goto_page({{ page }})">{{ text }}</a></li>{% endfor %}
							</ul>
						</div>
					{% endif %}
			{% endif %}	
		{% endif %}
		</div>
	</div>

{% endblock %}
