{% extends '::base.html.twig' %}



{% block body %}

<h1>CountryLanguage list</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Country</th>
            <th>Language</th>
            <th>Percent</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td>{{ entity.country }}</td>
            <td>{{ entity.language }}</td>
            <td>{{ entity.percent }}</td>
            <td>
                
                <form action="{{ path('countrylanguage_edit', { 'id': entity.id }) }}"><button type="submit" class="btn btn-warning">Edit</button></form>
                   
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<form action="{{ path('countrylanguage_new') }}"><button type="submit" class="btn btn-primary">Create a new entry</button></form>

{% endblock %}