{% extends '::base.html.twig' %}

{% block body %}

<h1>Translation packs</h1>

<p>
    Click on a pack to access its translations and various actions.
</p>

<table class="table">
    <thead>
        <tr>
            <th>Project</th>
            <th>Name</th>
            <th>Version</th>
            {% if is_granted('ROLE_SUPER_ADMIN') %}<th>Actions</th>{% endif %}
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr class="clickable" onclick="javascript:window.location='{{ path('packs_show', { 'id': entity.id }) }}'">
            <td>{{ entity.project }}</td>
            <td>{{ entity.name }}</td>
            <td>{{ entity.version }}</td>
            {% if is_granted('ROLE_SUPER_ADMIN') %}
                <td>
                    <form action="{{ path('packs_edit', { 'id': entity.id }) }}"><button class="btn btn-primary">Edit</button></form>
                </td>
            {% endif %}
        </tr>
    {% endfor %}
    </tbody>
</table>


{% if is_granted('ROLE_SUPER_ADMIN') %}
    <form action="{{ path('packs_new') }}"><button class="btn btn-primary">Create a new pack</button></form>
{% endif %}

{% endblock %}
