{% extends '::base.html.twig' %}

{% block javascripts %}
	<script type="text/javascript">
	</script>
{% endblock %}

{%  block body %}
	<style type="text/css">
		td.goto
		{
			cursor:pointer;
		}
		td.ignored
		{
			background-color:rgb(226, 222, 222);
		}
		td.not-ignored
		{
			background-color:rgb(213, 255, 213);
		}
	</style>

	<h2>Detailed statistics for {{language}}</h2>

	<table class="table">
		<tr>
			<th></th>
			<th>Percent translated (strings)</th>
			<th>Percent translated (words)</th>
			<th>Total words</th>
			<th>Translated words</th>
			<th>Words in translation</th>
			<th>Remaining words</th>
		</tr>
		{% for category in stats['categories'] | merge([null]) %}
			<tr>
				<th>{{ category | default("Total") }}</th>
				<td>{{ '%.1f' | format(stats['statistics'][category][null]['percent']) }}%</td>
				<td>{{ '%.1f' | format(100 * stats['statistics'][category][null]['translated_words'] / stats['statistics'][category][null]['total_words']) }}%</td>
				<td>{{ stats['statistics'][category][null]['total_words'] }}</td>
				<td>{{ stats['statistics'][category][null]['translated_words'] }}</td>
				<td>{{ stats['statistics'][category][null]['words_in_translation'] }}</td>
				<td>{{ stats['statistics'][category][null]['total_words'] - stats['statistics'][category][null]['translated_words']}}</td>
			</tr>
		{% endfor %}
	</table>

	<BR/>
{% if is_granted('ROLE_SUPER_ADMIN') %}
<p>
	Clicking on a Cell Name in the table below with deactivate/activate counting the corresponding section in the global statistics.<BR/>
	This is usefull to exclude some modules from the global statistics if they are of no use in your country!<BR/>
	Clicking on the part of the cell where the statistics are displayed will bring you to the translations of this section.
</p>
{% endif %}

	<table class="table">
		<tr>
			{% for category in stats['categories'] %}
				{% if stats['statistics'][category] | length > 1 %}
					<th>{{ category }}</th>
				{% endif %}
			{% endfor %}
		</tr>
		<tr>
			{% for category in stats['categories'] %}
				{% if stats['statistics'][category] | length > 1 %}
					<td>
						<table class="table">
						{% for section, details in stats['statistics'][category] %}
							{% if section != null %}
								<tr>
									
									{% if section %}
										{% if is_granted('ROLE_SUPER_ADMIN') %}
											{% if category in ignored_sections | keys  and section in ignored_sections[category] | keys %}
												<td class="goto ignored" onclick="javascript:$(this).find('form').submit()">
													{{ section }}
													<form method="post" action={{ url('pack_unignore_section', {pack_id: entity.id, language_code: language.code, category: category, section: section}) }}></form>
												</td>
											{% else %}
												<td class="goto not-ignored" onclick="javascript:$(this).find('form').submit()">
													{{ section }}
													<form method="post" action={{ url('pack_ignore_section', {pack_id: entity.id, language_code: language.code, category: category, section: section}) }}>
													</form>
												</td>
											{% endif %}
										{% else %}
											<td>
												{{ section }}
											</td>
										{% endif %}
									{% endif %}

									<td onclick="javascript:window.location='{{ path('translate', {'pack_id': entity.id, 'language_code': language_code, 'category': category, 'section': section}) }}'" class="goto" style="background-color:{{ color_shade("#800","#080",details['percent']/100, 0.7) }}; border: 1px solid {{ last_color_shade() }};">{{ '%.1f' | format(details['percent']) }}%<BR/>(s: {{details['translated_strings']}}/{{details['total_strings']}}, w: {{details['translated_words']}}/{{details['total_words']}})</td>
								</tr>
							{% endif %}
						{% endfor %}
					</table>
					</td>
				{% endif %}
			{% endfor %}
		</tr>
	</table>
{% endblock %}
