{% extends '::base.html.twig' %}

{% block javascripts %}
	<script type="text/javascript">

		function generate(url)
		{
			$('#generate_link').html('<span class="label label-success">Thinking...</span>');
			$.post(url,{},function(data){
				//console.log(data);
				if(data['got_file'])
				{
					$('#generate_link').html('<span class="label label-success">Done building pack!</span>');
					$('#download_link').html('<a class="label label-success" href="'+data['web_path']+'">Download fresh GZIP</a>');
				}
				else
				{
					$('#generate_link').html('<span class="label label-warning">Queued pack building due to server load, please check later.</span>');
				}
			},
			'json');
		}

		$('#gzip_language').change(function(e){
			if($(e.target).val())
			{
				var info_url = "{{ path('latest_export_info', {'pack_id': entity.id, 'language_code': 'xx'}) }}".replace('xx',$(e.target).val());
				//console.log(info_url);
				$.getJSON(info_url, function(data){
					//console.log(data);
					if(data['success'] && data['found'])
					{
						$('#download_link').html('<a class="label label-success" href="'+data['web_path']+'">Download GZIP, generated on '+data['created']+'</a>')
					}
					else
					{
						$('#download_link').html('<span class="label label-info">This pack was never generated, please generate it!</span>');
					}

					if(data['success'])
					{
						$('#generate_link').html('<a onclick="javascript:generate(\''+data['generate_path']+'\')" class="label label-warning">Generate GZIP</a>');
					}
					else
					{
						$('#generate_link').html('');
					}
				});
			}
			else
			{
				$('#generate_link').html('');
				$('#download_link').html('');
			}
		});
	</script>
{% endblock %}

{%  block body %}
	<h1>Pack &amp; translations management interface</h1>

	<h2>Info</h2>
	<p>
		{% if entity.getIsCurrent() %}
			<span class="label label-info">This is the latest pack, please help translating it fully!</span>
		{% else %}
			This pack is available but it is not the latest pack, please consider translating the latest one!
		{% endif %}
	</p>
	
	<table class="table table-condensed table-small">
	    <tbody>
	        <tr>
	            <th>Project</th>
	            <td>{{ entity.project }}</td>
	        </tr>
	        <tr>
	            <th>Name</th>
	            <td>{{ entity.name }}</td>
	        </tr>
	        <tr>
	            <th>Version</th>
	            <td>{{ entity.version }}</td>
	        </tr>
	    </tbody>
	</table>
	
	<br/>
	
	<h2>Quick access to translations</h2>

	<form class="form-inline translate" action="{{ path('translate', {'pack_id': entity.id}) }}">
  		<fieldset class="">
  			<label for="translate_source_language_code" class="input-label medium">From</label>
	  		<select id="translate_source_language_code" name="source_language_code">
				{% for language in languages %}
					<option value="{{ language.code }}" {{ app.request.query.get('source_language_code','en')==language.code ? "selected='true'" : '' }}>{{ language }}</option>
				{% endfor %}
			</select>

			<label for="translate_language_code" class="input-label medium">Into</label>
			<select id="translate_language_code" name="language_code">
				{% for language in languages %}
					<option value="{{ language.code }}">{{ language }}</option>
				{% endfor %}
			</select>

			<label for="translate_category" class="input-label medium">Category</label>
			<select id="translate_category" name="category">
				{% for category in categories %}
					<option value="{{ category }}">
						{{ category | default ('Any Category') }}
					</option>
				{% endfor %}
			</select>
			<button type="submit" class="btn btn-primary">Go!</button>
		</fieldset>
	</form>

	<h2>Download or (re)build GZIP</h2>

	<span class="form form-inline">
		<label for="gzip_language" class="input-label">Choose language</label>
		<select id="gzip_language" class="" name="gzip_language">
			<option value="" selected="true"></option>
			{% for language in languages %}
				<option value="{{ language.code }}">{{ language }}</option>
			{% endfor %}
		</select>
		<span id="generate_link"></span>
		<span id="download_link"></span>
	</span>

	{% if is_granted('ROLE_SUPER_ADMIN') %}
	
	<form class="pull-left" method="post" action="{{ url('generate_all_gzips', {'pack_id': entity.id}) }}">
		<button class="input-medium btn btn-warning">Build all GZIps</button>
	</form>
	<form style="margin-left:15px; margin-right:15px" class="pull-left" method="get" action="{{ url('download_all_gzips', {'pack_id': entity.id}) }}">
		<button class="input-medium btn btn-primary">Download all GZIps</button>
	</form>
	<div class="clearfix"></div>

	{% endif %}

	{% if is_granted('ROLE_SUPER_ADMIN') %}
		<h2>Remove messages</h2>
		<form method="post" action="{{ url('pack_delete_messages', {id: entity.id}) }}" class="form-inline">
			<label for="delete_category" class="input-label medium">Category</label>
			<select id="delete_category" name="category">
				{% for category in categories %}
					<option value="{{ category }}">
						{{ category | default ('- any category -') }}
					</option>
				{% endfor %}
			</select>
			<label for="delete_section" class="input-label medium">Section</label>
			<select id="delete_section" name="section">
				<option value=''>- all sections -</option>
				{% for section in sections %}
					<option value="{{ section }}">
						{{ section }}
					</option>
				{% endfor %}
			</select>
			<label for="delete_message" class="input-label medium">Message</label>
			<input type="text" id="delete_message" name="message"></input>
			<button class="btn btn-danger">Kill em!</button>
		</form>
		<br/>

		<script type="text/javascript">
			var cs = {{ category_sections | raw }};

			$('#delete_category').change(function(e){
				var options = "<option value=''>- all sections -</option>";
				var category = $(e.target).val();

				if(cs[category])
				{
					for(var i in cs[category])
					{
						options += "<option value='"+i+"'>"+(i == '' ? '(null)' : i)+"</option>";
					}
				}
				else
				{
					for(category in cs)
					{
						for(var i in cs[category])
						{
							options += "<option>"+i+"</option>";
						}
					}
				}
				$('#delete_section').html(options);
			});

			$('#delete_section').change(function(e){
				
				var category = $("#delete_category").val();
				var section  = $(e.target).val();
				var messages;

				if(cs[category] && cs[category][section])
				{
					var messages = {source: cs[category][section]};
				}

				$('#delete_message').autocomplete(messages);

			});
		</script>

	{% endif %}

	<h2>Detailed statistics</h2>

	<form action=""><input type="hidden" name="refresh_stats" value="true"/>
		<p>
			The statistics were last updated on {{ entity.getStatisticsUpdated() | date('d/m/Y') }} at {{ entity.getStatisticsUpdated() | date('H:i:s') }}
			, but you can <button class="btn btn-success" type="submit">refresh them now!</button>
		</p>
	</form>
	<br/>

	<table class="table">
	
		<tr>
			<th></th>
			{%  for cat in stats['categories'] %}
				<th>{{ cat | default("Overall")}}</th>
			{%  endfor %}
		</tr>
		{% for language, statistics in stats['statistics'] %}
			<tr class="translation_stat">
				<th><a href="{{ path('packs_show_language_stats', {'id': entity.id, 'language_code': statistics['code']}) }}">{{ language }}</a></th>
				{%  for cat in stats['categories'] %}
					<td
						class="clickable translation_stat"
					    style="background-color:{{ color_shade("#800","#080",statistics['statistics'][cat]['percent'] | default(0) / 100, 0.7) }}; border: 1px solid {{ last_color_shade() }};"
					    onclick="javascript:window.location='{{ path('translate', {'pack_id': entity.id, 'language_code': statistics['code'], 'category': cat}) }}'">
					    <span class="translation_stat_percent">{{ '%.1f' | format(statistics['statistics'][cat]['percent'] | default(0)) }}%</span>
					    <br/>({{ statistics['statistics'][cat]['translated'] | default(0) }}/{{ statistics['statistics'][cat]['total'] | default(0) }})
					</td>
				{%  endfor %}
			</tr>
		{% endfor %}
		<tr>
			<th></th>
			{%  for cat in stats['categories'] %}
				<th>{{ cat | default("Overall")}}</th>
			{%  endfor %}
		</tr>
	</table>
	
	<ul class="record_actions">
	    
	        <form action="{{ path('packs') }}" method="get">
	            <button type="submit" class="btn btn-link">&lt;&lt; Back to the list of Packs</button>
	        </form>
	    	    
	        
	    </li>
	    {% if is_granted('ROLE_SUPER_ADMIN') %}
	    	
		        <form action="{{ path('pack_setcurrent', { 'pack_id': entity.id }) }}" method="post" class="pull-left">
		            <button type="submit" class="btn btn-success input-large">Set as current pack</button>
		        </form>
		        <span class="pull-left">&nbsp;</span>
		    	<form action="{{ path('pack_autocomplete', { 'pack_id': entity.id }) }}" method="post" class="pull-left">
		            <button type="submit" class="btn btn-primary input-large" >Autocomplete</button>
		        </form>
		       
		        <form action="{{ path('packs_delete', { 'id': entity.id }) }}" method="post" class="pull-right">
		            {{ form_widget(delete_form) }}
		            <button type="submit" class="btn btn-danger input-large">Delete</button>
		        </form>
		        <span class="pull-right">&nbsp;</span>
		        <form action="{{ path('packs_edit', { 'id': entity.id }) }}" method="get" class="pull-right">
		            <button type="submit" class="btn btn-warning input-large">Edit</button>
		        </form>
		        
	    {% endif %}
	</ul>
{% endblock %}
