{% extends '::base.html.twig' %}


{% block body %}

<h1>UserLanguage list</h1>

<table class="table table table-striped">
    <thead>
        <tr>
            <th>User</th>
            <th>Language</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td>{{ entity.getUser() }}</td>
            <td>{{ entity.getLanguage() }}</td>
            <td>
                <ul>
                    <li>
                        <a href="{{ path('userlanguages_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('userlanguages_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<ul>
    <li>
        <a href="{{ path('userlanguages_new') }}">
            Create a new entry
        </a>
    </li>
</ul>

{% endblock %}