{% extends '::base.html.twig' %}



{% block body %}

<h1>Translation Imports</h1>

<form action="{{ path('translationsimports_new') }}"><button class="btn btn-primary">Import a translation pack</button></form>
<br/>

<table class="table table-striped">
    <thead>
        <tr>
            <th>File</th>
            <th>Uploader</th>
            <th>Upload date</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td>{{ entity.originalfilename }}</td>
            <td>{{ entity.creator }}</td>
            <td>{% if entity.created %}{{ entity.created|date('Y-m-d H:i:s') }}{% endif %}</td>
            <td>
                <ul>
                    <li>
                        <a href="{{ path('translationsimports_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('translationsimports_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}