<!DOCTYPE html>
<html>

    <head>
    
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
        <script src="{{ asset('vendor/bootstrap/js/bootstrap.js') }}"></script>
        
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        
        {% javascripts '@FMSymSlateBundle/Resources/public/js/common.js' %}
		    <script src="{{ asset_url }}"></script>
		{% endjavascripts %}
		
		{% stylesheets '@FMSymSlateBundle/Resources/public/css/common.css' %}
		    <link rel="stylesheet" href="{{ asset_url }}" />
		{% endstylesheets %}

        <link rel="stylesheet" href="{{ asset('vendor/bootstrap/css/bootstrap.css') }}" />
		
    </head>
    
    <body style="background-image:url({{ asset('bundles/fmsymslate/images/stripes.png') }})">
        
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <a class="brand" href="{{ url('fm_symslate_default_index') }}">Home</a>
                <ul class="nav">
                    <li><a href="{{ url('packs') }}">Translate</a></li>
                    <li><a href="{{ url('translationsimports_new') }}">Import</a></li>
                    <li><a href="{{ url('tasks') }}">(Background jobs)</a></li>
                </ul>
            </div>
        </div>

    	<div id="contents">
    		 {% block body %}{% endblock %}
    	</div>
        {% block javascripts %}
        
        {% endblock %}
    </body>
    
</html>
