<!DOCTYPE html>
<html>

    <head>
    
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
        <script src="{{ asset('vendor/bootstrap/js/bootstrap.js') }}"></script>
        
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        
        {% javascripts '@FMSymSlateBundle/Resources/public/js/common.js' %}
		    <script src="{{ asset_url }}"></script>
		{% endjavascripts %}
		
        <link rel="stylesheet" href="{{ asset('vendor/bootstrap/css/bootstrap.css') }}" />

		{% stylesheets '@FMSymSlateBundle/Resources/public/css/common.css' %}
		    <link rel="stylesheet" href="{{ asset_url }}" />
		{% endstylesheets %}

        
		
    </head>
    
    <body style="background-image:url({{ asset('bundles/fmsymslate/images/stripes.png') }})">
        
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <a class="brand" href="{{ url('fm_symslate_default_index') }}">Home</a>
                <ul class="nav">
                    <li><a href="{{ url('packs') }}">Translate</a></li>
                    <li><a href="{{ url('translationsimports_new') }}">Import</a></li>
                    <li><a href="{{ url('tasks') }}">(Background jobs)</a></li>
                    {% if is_granted('ROLE_SUPER_ADMIN') %}
                    <li>
                        <div class="btn-group">
                            <a class="btn dropdown-toggle btn-warning" data-toggle="dropdown" href="#">Admin&nbsp;<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="{{ url('messagesimports') }}">Pack Messages</a></li>
                                <li><a href="{{ url('languages') }}">Languages</a></li>
                                <li><a href="{{ url('countries') }}">Countries</a></li>
                                <li><a href="{{ url('countrylanguage') }}">Countries & Languages</a></li>
                                <li><a href="{{ url('userlanguages') }}">Permissions</a></li>
                            </ul>
                        </div>
                    </li>
                    {% endif %}
                    <li id="notification">
                        
                    </li>
                </ul>
                <ul class="nav pull-right">
                    <li>
                        <span class="navbar-text">Hi, <strong>{{ app.user.username }}</strong>!&nbsp;<a href="{{ url('fos_user_security_logout') }}">[logout]</a></span>
                    </li>
                </ul>
            </div>
        </div>

    	<div id="contents">
    		 {% block body %}{% endblock %}
    	</div>
        {% block javascripts %}
        
        {% endblock %}
    </body>
    
</html>
