<!DOCTYPE html>
<html>

    <head>
    
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
        <script src="{{ asset('vendor/bootstrap/js/bootstrap.js') }}"></script>
        
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        
        {% javascripts '@FMSymSlateBundle/Resources/public/js/common.js' %}
		    <script src="{{ asset_url }}"></script>
		{% endjavascripts %}
		
		{% stylesheets '@FMSymSlateBundle/Resources/public/css/common.css' %}
		    <link rel="stylesheet" href="{{ asset_url }}" />
		{% endstylesheets %}

        <link rel="stylesheet" href="{{ asset('vendor/bootstrap/css/bootstrap.css') }}" />
		
    </head>
    
    <body style="background-image:url({{ asset('bundles/fmsymslate/images/stripes.png') }})">
    	<div id="banner">
    		<div class="table">
    			<div class="table-row">
    				<div class="table-cell toplink" onclick="javascript:window.location='{{ url('fm_symslate_default_index') }}'">
    					Home
    				</div>
    				<div class="table-cell toplink" onclick="javascript:window.location='{{ url('packs') }}'">
    					Translate
    				</div>
    				<div class="table-cell toplink" onclick="javascript:window.location='{{ url('translationsimports_new') }}'">
    					Import
    				</div>
    			</div>
    		</div>
    	</div>
    	<div id="contents">
    		 {% block body %}{% endblock %}
    	</div>
        {% block javascripts %}
        
        {% endblock %}
    </body>
    
</html>
