{% extends '::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
	{% stylesheets '@FMSymSlateBundle/Resources/public/css/map.css' %}
	    <link rel="stylesheet" href="{{ asset_url }}" />
	{% endstylesheets %}
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	
	<script type="text/javascript">
		function country(id)
		{
			return $($('#map')[0].contentDocument.getElementById(id));
		}
		function countries()
		{
			return $($('#map')[0].contentDocument.getElementsByTagName('path'));
		}

		
		
		var colors = {};

		function color(scale)
		{
			var mr = 0;
			var mg = 255;
			var mb = 0;

			var r = Math.round((mr * scale / 100));
			var g = Math.round((mg * scale / 100));
			var b = Math.round((mb * scale / 100));

			return 'rgb('+r+','+g+','+b+')';
			
		}
		
		$(window).load(function(){

			countries().attr('fill','#000');
			
			countries().hover(function(e){
				$('#country').html($(e.target).attr('id'));
				colors[$(e.target).attr('id')] = $(e.target).attr('fill');
				$(e.target).attr('fill','#CCC');
			},
			function(e){
				$('#country').html('-');
				$(e.target).attr('fill',colors[$(e.target).attr('id')]);
			});


			var ids = [];
			
			countries().each(function(i, country){
				ids.push($(country).attr('id'));	
			});

			$('#status').html("Loading translation statistics...");
			
			$.post('{{ url('getcountrystats') }}',
					  {
				  		map_codes: ids
					  },
					  function(data)
					  {
						  console.log(data);
						  for(var i in data)
						  {
							  country(i).attr('fill',color(data[i]));
						  }
						  $('#status').html("");
					  },
					  'json'
		    );
	    });
		
	</script>
{% endblock %}


{% block body %}
	<h2 id="country">-</h2>
	<object id="map" data="{{ asset('bundles/fmsymslate/images/map.svg') }}" type="image/svg+xml" height="600" width="800"> <img src="image-png.png" height="48" width="48" alt="this is a PNG" /> </object>
	<p id="status">&nbsp;</p>
{% endblock %}