{% extends '::base.html.twig' %}


{% block body %}

<h1>Task list</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Task type</th>
            <th>Status</th>
            <th>Started</th>
            <th>Completed</th>
            <th>Failed</th>
            <th>Progress</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td>{{ entity.class }}</td>
            <td>{{ entity.status }}</td>
            <td>{{ entity.started ? "YES" : "NO" }}</td>
            <td>{{ entity.completed ? "YES" : "NO" }}</td>
            <td>{{ entity.failed ? "YES" : "NO" }}</td>
            <td>{{ entity.progress | default("unknown") }}</td>
            <td>
                <!--
                <ul>
                    <li>
                        <a href="{{ path('tasks_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('tasks_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
            -->
             <form action="{{ path('tasks_delete', { 'id': entity.id }) }}" method="post">
                <button type="submit" class="btn btn-danger">Remove</button>
            </form>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}
