{% extends '::base.html.twig' %}


{% block body %}

<h1>Background tasks</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Task</th>
            <th>Arguments</th>
            <th>Status</th>
            <th>Added</th>
            <th>Started</th>
            <th>Completed</th>
            <th>Failed</th>
            <th>Progress</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td>{{ entity.service }}</td>
            <td>{{ entity.arguments }}</td>
            <td>{{ entity.status }}</td>
            <td>{{ entity.created | date("d/m/Y H:i:s") }}</td>
            <td>{{ entity.started ? "<span class='label label-success'>YES</span>" : "<span class='label label-info'>NO</span>" }}</td>
            <td>{{ entity.completed ? "<span class='label label-success'>YES</span>" : "<span class='label label-info'>NO</span>" }}</td>
            <td>{{ entity.failed ? "<span class='label label-important'>YES</span>" : "<span class='label label-success'>NO</span>" }}</td>
            <td><span class="label">{{ entity.progress ? [ entity.progress | number_format(0), "%"] | join : "unknown" }}</label></td>
            <td>
                {% if app.user.getId() == entity.getUserId() or is_granted('ROLE_SUPER_ADMIN') %}
                     <form action="{{ path('tasks_delete', { 'id': entity.id }) }}" method="post">
                        <button type="submit" class="btn btn-danger">Remove</button>
                    </form>
                {% endif %}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}
